.search-card{
    box-shadow: -10px 10px 15px #e6e8eb, 10px -10px 15px #e6e8eb;
    background-color: white;
    height: 90px;
    width: 100%;
    border-radius: 8px;
    border-color: white;
}

.search-card h4{
    position: relative;
}

.search-card:hover{
    box-shadow: -10px 10px 15px #e6e8eb, 10px -10px 15px #e6e8eb;
    border: solid 2px rgb(0, 183, 255);
    background-color: white;
}